
/* Main content area background colour (GREEN by deafult) */
.backgroundColour {
	/* background-color: #000099; */
	background-color: #C1D6E7; 
}
/* Scroll bar colours */
BODY {
	/* SCROLLBAR-FACE-COLOR: #ffffff; */
	/* SCROLLBAR-HIGHLIGHT-COLOR: #EAFBEC; */
	/* SCROLLBAR-SHADOW-COLOR: #054606; */
	/* SCROLLBAR-ARROW-COLOR: #000099; */
	
	/* SCROLLBAR-BASE-COLOR: #000099; */
	/* scrollbar-dark-shadow-color: #7B7B7B; */
	/* scrollbar-3d-light-color: #000099; */
}
/* Sub menu frame style */
.frame {
	border: thin dotted #000099;
}
/* Main navigation button style */
.NavButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	word-spacing: 0px;
	letter-spacing: 0px;


}

a:link.NavButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #333333; 
text-decoration: none
}

a:hover.NavButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #000099; 
text-decoration: underline overline;
}
/* Main navigation button ON state style */
.NavButtonActive {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000099;
	text-decoration: underline overline;
	word-spacing: 0px;
	letter-spacing: 0px;
}
/* General website button style - white */
.siteButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	/* color: #ffff00; */
	color: #00517E;
	text-decoration: underline;
	word-spacing: 0px;
	letter-spacing: 0px;


}
a:link.siteButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #00517E; 
text-decoration: underline;
}

a:hover.siteButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #00517E; 
text-decoration: underline;
}
/* Green subtitle style */
.subTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #00517E;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
/* Subtitle White */
.subTitleWhite {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
/* White title large style */
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: bold;
	/* color: #FFFF00; */
	color: #00517E;
	text-decoration: none;
}
/* General website text style */
.textColour {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* font-size: xx-small; */
	font-size: 0.6em; 
	font-weight: normal;
	color: #000000; 
	text-decoration: none;
}
/* website Picture frame style (inset) */
.pictureFrame {
	/* border: thin inset #FFFF00; */
	border: thin inset #0000FF; 	
}

/* website footer text style */
/* LEAVE intact */
.footerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
/* Digital-zest.com website button style */
/* LEAVE intact */
.zestButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-decoration: none;
	word-spacing: 0px;
	letter-spacing: 0px;


}

a:link.zestButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #333333; 
text-decoration: none
}

a:hover.zestButton { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: xx-small; 
color: #009900; 
text-decoration: underline;
}
